nav {
  background-color: #563d7c;
  color: #fff;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

.btn-primary {
  margin: 15px 0px 0px 0px;
}

.avatar-ctn {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 30px;
}

.avatar {
  width: 25%;
}

#query-container {
  padding: 50px;
  width: 50%;
  margin: 0 auto;
}

#query-box {
  padding: 50px;
  width: 70%;
  margin: 0 auto;
}

#query-bar-container {
  margin-top: 20px;
  height: 60px;
}

.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

#cart-totals-container {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

#cart-totals-container p {
  margin-bottom: 3px;
}

#checkout-button {
  margin-top: 8px;
}

/* #product-image-container {
  height: 80%;
} */

#product-image {
  margin-top: 75px;
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.product-information {
  margin-top: 75px;
}

#product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 120px;
}

#product-description {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 200px;
}

#product-price {
  width: 100%;
  height: 50px;
}

#add-product-to-cart-button {
  margin: 30px;
}

#no-results-for-product-message {
  text-align: center;
  margin: 20px;
}

.remove-item-from-cart-icon {
  position: relative;
  /* z-index: -1; */
}

#userInput {
  border-color: rgb(32, 32, 32);
}

#query-page-title {
  text-align: center;
  margin-top: 80px;
}

#view-all-products-button-container {
  text-align: center;
}

#displayProducts-title {
  text-align: center;
  margin-top: 50px;
}

#hidden-all-products-array {
  display: none;
}

.widget-container {
  color: rgb(100, 100, 100);
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 25px;
  margin-right: 50px;
  margin-left: 50px;
}

.widget-container:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.widget-image {
  max-width: 100%;
  max-height: 80%;
  object-fit: contain;
}

.profile-text {
  margin-bottom: -5px;
}

#shipping-options-form {
  text-align: left;
}

#credit-card-input-form {
  background-color: white;
  /*  */
}
#all-products-widget-container {
  text-align: center;
}

.product-widget-transparent-button {
  background-color: transparent;
  border: 0px solid white;
  width: 200px;
  height: 200px;
  text-align: center;
}

.product-widget-transparent-button:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
